body {
  background-color: #151515;
}
p {
  margin: 0;
  font-family: "Radio Canada Big", sans-serif;
  color: white;
  font-weight: bold;
}
h1 {
  font-family: "Radio Canada Big", sans-serif;
  font-weight: bold;
}
h2 {
  display: inline;
}
a {
  color: white;
  font-size: 18px;
  font-family: "Radio Canada Big", sans-serif;
}
.htxt {
  margin-left: 300px;
  margin-top: 350px;
  width: 400px;
  display: inline-block;
}

.cover_image {
  display: inline-block;
  margin-left: 400px;
  margin-top: 175px;
  width: 500px;
}

.link {
  text-decoration: none;
  text-align: right;
  position: relative;
  font-weight: bold;
}

.link:hover::after {
  opacity: 1;
}

.link:before {
  
}

.link:after {
  content: '';
  height: 2px;
  width:100%;
  background: #7C89FF;
  display: block;
  position: absolute;
  left: 0;
  bottom: -1;
  opacity: 0;
  transition: all 0.1s;
  pointer-events: none;
  
}



.name {
  font-size: 50px;
  font-weight: bold;
}
.intro {
  font-size: 50px;
  font-weight: bold;
}
.about {
  margin-left: 600px;
  font-size: 20px;
  margin-bottom: 10px;
  width: 650px;
}

.title {
  color: #7C89FF; 
  font-size: 25px; 
}
.about_title {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 67px; 
  display: inline-block;
}

.home_button {
  font-size: 18px;
  font-weight: normal;
  font-family: "Radio Canada Big", sans-serif;
}

.experience_button {
  font-size: 18px;
  font-weight: normal;
  font-family: "Radio Canada Big", sans-serif;
}

.right_align {
  width: 1px;
  display: flex;
  flex-wrap: wrap;
  align-content:flex-end;
  flex-direction: column;
  justify-content: flex-end;
  
}
.flex_container {
  display: flex;
  margin-left: 600px;
}

.bottom_line {
  height:7px;
  background-color:#7C89FF;
  width: 671px; 
  border-color:#7C89FF;
  margin-top: 80px;
}
.image_container {
  display: inline-block;
  margin-left: 600px;
}

.icon {
  width: 30px;
  padding-right: 10px;
}

.flex_container_home {
  display: flex;
}
.image_container_home {
  padding-top: 30px;
  position: absolute;
}
.experience_title,.about_title {
  font-size: 25px;
  color: #7C89FF; 
  
}

.experience_text {
  font-size: 14px;
  margin-top: 10px;
  font-weight:normal
}
.experience_text_title {
  font-size: 18px;
  margin-top: 10px;
  font-weight:normal
}

.experience_subtext {
  color: #868686;
  font-size: 15px;
  font-weight:normal
}
.experience_subsubtext {
  color: #868686;
  font-size: 14px;
  font-weight:normal
}
.experience_subhead {
  font-size: 22px;
  position: relative;
  text-decoration: none;
}

.experience_subhead:after {
  content: '';
  height: 3px;
  width:100%;
  background: white;
  display: block;
  position: absolute;
  left: 0;
  bottom: -1;
  opacity: 1;
}


.right_align_ex {
  margin-left: 456px;
  margin-bottom: 75px;
  width: 1px;
  display: flex;
  flex-wrap: wrap;
  align-content:flex-end;
  flex-direction: column;
  justify-content: flex-end;
  
}

.container {
  width: 35.4%;
  margin: auto;
  height: 100%;
}
.top {
  height: 120px;
  display: flex;
  align-items: center;
}
.middle_title {
  height: 20px;
  display: flex;
  margin-top: 20px;
}
.middle_desc {
  height: 50px;
  display: inline-block;
  margin-top: 15px;
  width: auto;
}
.middle_flex {
  height: 30px;
  display: flex;
  margin-top: 15px;
  width: auto;
}

.middle_desc_b {
  height: 10px;
  display: inline-block;
  width: auto;
}

.middle_about {
  margin-top: 20px;
  height: 300px;
  display: inline-block
}
.about_text {
  font-size:16px;
  margin: 0;
}
.bottom {
  height: 70px;
  display: inline-block;
  align-items: center;
}

.connect {
  margin: 0;
  font-family: "Radio Canada Big", sans-serif;
  color: rgb(226, 226, 226);
  font-size:16px;
  font-weight: bold;
}
